.task_container{
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
    cursor: pointer;
}
.remove_task_button, 
.see_task_details_button{
    background-color: #444;
    border: none;
    font-size: 16px;
    color: chartreuse;
    cursor: pointer;
}